
.root{
	-fx-background-color: linear-gradient(to bottom right, #611553, #8B008B, #FC4520);
}

.label{
	-fx-text-fill: "#FF1493";
}



.button{
	-fx-text-fill: "Brown";
	-fx-background-color: linear-gradient(to bottom, #A92EBD, #FC4524);
	-fx-border-color: "Black";
	-fx-border-width: 1px;
	-fx-background-insets: 0;
}

.button:hover{
	-fx-background-color: linear-gradient(to bottom, #C563CD, #FD7464);
}
